/* CSS Document */
/* global styles */
body {
	font-family: HamburgTS,Arial,Helvetica,sans-serif;
    color: #303030;
    margin: 0px;
}


*, *::after, *::before {
  box-sizing:border-box;  
}

ul li {
list-style-type: none;
}

.hoofdcontainer {
	padding: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1488px;
    position: relative;
}

/* einde global styles */ 

/* begin header */

header {
	justify-content: center;
	align-items: center; 
}

/* begin menu */

.menu{
	width: 100%;
	display: flex;
	border-bottom: 1px solid rgba(205, 205, 205, .5);
	    padding: 0 16px;

}

.menu:after{
content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #cdcdcd;
    opacity: .5;
    bottom: 0;
    }

/* begin hambuger menu */

.hambuger {
	flex-basis: 33.333333%;
	display: flex;
}

.toggle{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0 0 10px;
    width: 44px;
    color: inherit;
}

.bars{
	height: 21px;
    position: relative;
    width: 24px;
}

span.barsspan {
    background: black;
    border-radius: 4px;
    display: block;
    height: 2px !important;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    width: 100%;
    top: 3px;
}

span.bars_1{
	top: 3px;
}

span.bars_2{
	top: 9px;
}

span.bars_3{
	top: 15px;
}

span.text_menu{
	position: absolute;
    color: #acacac;
    top: 18px;
    left: 0;
    font-size: 10px;
}


.navbar {
display: none;
}

.showClose span.bars_2 {
     -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.showClose span.bars_3{
	    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
}

.showClose span.bars_1{
	display: none;
}

.showClose span.bars_4{
	display: none;
}



.navbar_show {
  display: block;
  position: absolute;
  background: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
  z-index: 1;
}

span.icon {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
}

span.tekst{
	 margin-left: 36px;
    font-weight: 200;
    line-height: 1.5;
}

.menuLink{
    display: block;
    color: black;
    padding: 8px 12px;
    margin: 0;
    text-decoration: none;
    position: relative;
}

/* einde hambuger menu */

/* begin logo */

.logo {
	flex-basis: 33.333333%;
	padding: 14px !important;
}

.logo svg{

	width: 36px;
	height: 36px;
}

a.ah_logo {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* einde logo */

/* begin winkelmandje */

.Winkelmandje {
	flex-basis: 33.333333%;	
	display: flex;
}

.Winkelmandje svg { 
	width: 28px;
	height: 28px; 
	color: #00ade6;
    fill: currentColor;
}

.Winkelmandje a {
	display: flex;
    align-items: center;
    margin-left: auto;
}
/* einde winkelmandje */

/* einde menu */

.zoekbalk { 
	width: 100%;
	padding: 16px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.15);
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
 }

 .zoekbalk_input{
 	position: relative;
    width: 100%;
    border-radius: 24px;
    background-color: #f0f4f7;
    border-color: #f0f4f7;
    color: #838383;
    text-align: left;
    -webkit-transition: none;
    transition: none;
    padding: 11px 16px;
    border: none;  
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .2px;
 }


.zoekbalk_input:hover {
    border: #00ade6 1px solid ;
    padding: 10px 15px;
}

 #vergrootglas {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 24px;
    color: #595959;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#vergrootglas:hover{
	right: 23px;
}
 /*  Dit is de css voor de zoekbalk.*/


/* einde header */

/* begin content */
/* begin categorien */

.categorie {
	padding: 12px;
	display: flex;
	flex-wrap: wrap;
}

.artikel {
	width: 50%;
	margin: 0;
    padding: 0 12px 24px;
}

.artikel article{
	align-items: center;
    background-color: #fff;
    text-decoration: none;
    color:;
    text-align: center;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 16px 0 rgba(0,0,0,.04), 0 1px 4px 0 rgba(0,0,0,.16);
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.04), 0 1px 4px 0 rgba(0,0,0,.16);
    cursor: pointer;
    padding: 16px 4px;	
    height: 100%;
}

.artikel article a {
	text-decoration: none; 
	color:#303030;
}

/* begin afbeelding artikel */

.afbeelding img {
	width: 100%;
    max-width: 144px;
    max-height: 100%;
}

/* einde afbeelding artikel */

/* begin titel artikel */

.titel {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 24px 4px 8px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 36px;
    overflow: hidden;
    width: 100%;
    font-weight: 300;
}

.titel a {
	    color: #303030;
    text-decoration: none;
    text-align: center;
    letter-spacing: .3px;
    width: 100%;
}

/* einde titel artikel */

@media only screen and (min-width: 768px) {
.artikel {
	width: 33.333333%;
	margin: 0;
    padding: 0 12px 24px;	
}
}

/* einde categorien */

/* begin ons assortiment */

.grid {
	padding: 8px;
	margin-left: auto;
    margin-right: auto;
    max-width: 1488px;
    position: relative;
}

.colunm{
	position: relative;
}
.row {
	max-width: none;
	margin-right: -.5rem;
    margin-left: -.5rem;
}
.alfabet {
	margin: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
    overflow-x: auto;
    padding: 0 0 16px;
}
.alfabet_letter {
	min-width: 49px;
	display: list-item;
	color: #303030;	
	margin-left: 8px;
}

#letter_A{
	margin-left: 0px !important;
}

.alfabet_letter li {
	margin-left: 8px;
}

.alfabet_letter a {
	display: block;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #303030;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 8px;
    text-align: center;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    line-height: 1;
}
/* NOG NAKIJKEN!!!!!!

.grid { 
 }
.row {
	max-width: none; 
	margin-right: -.5rem;
    margin-left: -.5rem;
    position: relative;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}
*/

/*einde content */

/* begin footer */

footer {
	background-color: #F5F5F5;
	width: 100%;
	list-style-type: none;
}

article li { 
	display: flex;
	align-items: center;
	font-weight: bold;
	border-bottom: 1px solid #f3f0eb;
    padding: 16px 0 8px;
	 }

img {
	display: flex;
	width: 40px;
	box-sizing: border-box;
	justify-content:space-around;
}

.grid_footer {
	padding: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1488px;
}

.row_footer {
	position: relative;
	max-width: 624.9375rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
}

.column_footer {
	padding: 12px;	
	position: relative;
	flex: 0 0 100%;
    max-width: 100%;
}


.lijst {
	display: flex;
	justify-content: space-between;
	align-items: center;
    cursor: pointer;
    font-weight: 700;
}

.socialmedia {
	text-align:center;
	padding:15px 10px;
	justify-content: space-between;
	margin:25px 0;
}

.navigatie {
	padding:12px;
	margin-left: auto;
    margin-right: auto;
    max-width: 1488px;
    position:relative;
    display:block;
    text-align:center;
    
}

.navigatie_link {
	color:#303030;
    text-decoration:none;
    text-decoration-color:none;
    position:relative;
}

a { color:#303030;
    text-decoration:none;
   
}
/* einde footer */

/* Begin css algemene voorwaarde */

.zakelijkevoorwaarde {
	padding: 24px 0px;
	display: inline-block;
}

.body {
	padding: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1488px;
    position: relative
}

.algemenevoorwaarde{
	position: absolute;
	top:24px;
	left: 24px;
	padding-right:24px;
	color:#fff;
	text-shadow: rgba(0,0,0,.5);
	font-size:24px;
}

.banner {
	width: 100%;
    height: 100%;
    object-position: center right;
    background-position: 0 100%;
    object-fit: cover;
}
/* Einde css algemene voorwaarde */

